In [1]:
import numpy as np, matplotlib.pyplot as plt, pandas as pd
import pickle

In [4]:
dataset = pd.read_csv('Salary.csv')

In [11]:
dataset

   Index Experience  Test_Score  Inview_Score  Salary
0      0          0         8.0             9   50000
1      1          0         8.0             6   45000
2      2       five         6.0             7   60000
3      3       two         10.0            10   65000
4      4      seven         9.0             6   70000
5      5      three         7.0            10   62000
6      6        ten         NaN             7   72000
7      7     eleven         7.0             8   80000

In [10]:
dataset['Experience'].fillna(0,inplace=True)

In [14]:
dataset['Test_Score'].fillna(dataset['Test_Score'].mean(),inplace=True)

In [16]:
word_dict = {'one':1, 'two ':2,'three':3,'four':4,'five':5,'six':6,'seven':7,'eight':8,'nine':9,'ten':10, 'eleven':11,0:0}

dataset['Experience'] = dataset['Experience'].apply(lambda x: word_dict[x])

In [18]:
dataset.drop(columns='Index',axis=1,inplace=True)

In [19]:
y = dataset.pop('Salary')
X = dataset

In [21]:
X

   Experience  Test_Score  Inview_Score
0           0    8.000000             9
1           0    8.000000             6
2           5    6.000000             7
3           2   10.000000            10
4           7    9.000000             6
5           3    7.000000            10
6          10    7.857143             7
7          11    7.000000             8

In [17]:
from sklearn.linear_model import LinearRegression
lr = LinearRegression()

In [22]:
lr.fit(X,y)

LinearRegression()

In [23]:
pickle.dump(lr,open('model.pkl','wb'))

In [25]:
model = pickle.load(open('model.pkl','rb'))

In [27]:
model.predict([[5,6,7]])

C:\Users\rkama\anaconda3\lib\site-packages\sklearn\base.py:445: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

array([58231.95591138])